@import "variables";

body {
    background-color: $color-main-lighter;
    color: $color-main-darker;
    font-family: Verdana, sans-serif;
    line-height: 1.3;
}

@media (max-width: 600px) {
    :root {
        font-size: .9em;
    }
}

a {
    color: inherit;
    cursor: pointer;
}

.markdown {
    @each $tag in (h1,h2,h3,h4,h5,h6,p,dl,ul,ol,table) {
        * + #{$tag} { margin-top: 0.5em; }
    }

    a {
        color: $color-main-light;
        text-decoration: underline;
    }

    h1 {
        font-size: 1.8em;
        text-align: center;
    }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.2em; }

    p, ol, ul { text-align: justify; }

    dl {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: .5em;
        dt::after {
            content: ":";
        }
    }
}

@media print {
    @page {
        size: A4;
        margin: 1cm;
    }

    :root {
        font-size: 10pt;
    }

    h1, h2, h3, h4 {
        break-after: avoid;
        break-inside: avoid;
    }
}
