$color-main-lighter: #fffffa;
$color-main-light: #840;
$color-main: #420;
$color-main-dark: #210;
$color-main-darker: #110600;

$color-neutral-light: #cb9;
$color-neutral: #321;

$header-height: 3em;
